.mapa {
    width: 100vw;
    display: flex;
    flex-direction: column;

    padding: 8px;
    margin: 0 auto;
    

    box-sizing: border-box;
}

.img-rodape {
    width: 80%;
    margin: 8px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}

.mapa-titulo {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #CCB031;
    margin: 8px auto;
}

.butao-whatsapp {
    font-size: 1.2rem;
    width: 10rem;
    margin: 8px auto;
    border: 1px solid rgb(221, 221, 221);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
    line-height: 1.5rem;
    
}

.butao-whatsapp:hover {
    background: var(--butao-background);
}

.mapa-paragrafo {
    box-sizing: border-box;
    margin: 16px;
    text-align: center;
}

@media  screen and (min-width: 655px) {
    .mapa-paragrafo {
        font-size: 1.5rem;

    }

    .mapa iframe {
        width: 800px;
        height: 300px;

       display: block;
       margin: 32px auto;
    }
    .img-rodape {
        width: 50%
    }


}
