.intro-titulo {
    color: rgb(231 228 0);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 16px;
}
.intro-paragrafo {
    font-size: 1.2rem;
    text-align: center;
    margin: 32px;
}

.video-cursos {
    width: 100%;

}

.cursos {
    display: flex;
    flex-direction: column;
}

.curso-titulo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 16px;
}

.curso-paragrafo {
    font-size: 1.2rem;
    text-align: justify;
    margin: 32px;
}

.curso-imagem {
    width: 10rem;
    margin: 0 auto;
}

.butao-whatsapp {
    font-size: 1.2rem;
    width: 15rem;
    margin: 16px auto;
    border: 1px solid rgb(221, 221, 221);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
    line-height: 1.5rem;
    
}