/* FOTTER */

body {
    width: 100vw;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.midias-sociais {
    display: flex;
    justify-content: space-around;
}

.midias { 
    margin-bottom: 64px;
}

.whatsapp::before {
    content: "\ea93";
}

.instagram::before {
    content: "\ea92";
}

.facebook::before {
    content: "\ea90";
}

footer {
    /* display: grid;
    gap: 8px; */
    background: black;

    display: flex;
    flex-direction: column;

    padding-top: 16px;
    padding-bottom: 16px;
        
}

footer h3 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 8px;
}

footer p {    
    text-align: center;
    line-height: 1rem;
    font-size: .8rem;
    margin: 0 auto;  
}

@media screen and (min-width: 600px) {
    .midias-sociais {
        display: flex;
        justify-content: flex-end;
        margin-right: 32px;
    }
    
    .midias { 
        margin-right: 16px;
    }

}

