.principal-produtos {
    display: grid;  
    width: 100%;
    overflow: hidden; 
}

.produtos {
    width: 100vw;
    box-sizing: border-box;
    padding: 16px;   
    justify-content: center;
    text-align: center;  
}

.produtos-titulo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #CCB031;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.produtos-texto {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 16px;
}


.produto-item {
    display: grid;
    gap: 8px;
    text-align: center;
    margin-left: 32px;   
}


.produto-item--imagem {
    cursor: pointer;  
    height: 240px;
    justify-content: space-evenly; 
    transition: .5s; 
    width: 240px; 
}

.produto-item--imagem:hover {
       transform: scale(1.1);
       margin-bottom: 8px;
       
}

.produto-item--descricao {
    font-size: 1.2rem;
    text-transform: capitalize;
}


.produto-item--preco {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.produto-item--preco:hover {
    font-size: 1.3rem;
    transition: .6s;
}

.produto-item--butao {
    border: none;
    border-radius: 5px;
    color: rgb(88, 86, 86);
    margin: 0 auto;
    margin-bottom: 32px;
    padding: 1rem;
    transition: .6s;
    width: 12rem;
    
}

.produto-item--butao:hover {
    background: rgb(3, 112, 58);
    transform: scale(1.1);
    color: white;
    cursor: pointer;
    
}

@media screen and (min-width: 655px) {

    .produtos-texto {
        
        margin-bottom: 64px;
    }

    .produtos-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .produto-item {
        width: 250px;
    }

    .produto-item--imagem {
        border-radius: 10px;
    }  
}

@media screen and (min-width: 900px) {
    .produtos-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .produtos-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}