.principal-produtos {
    display: grid;  
    
}

.produtos {
    width: 100vw;
    box-sizing: border-box;
    padding: 16px;   
    justify-content: center;
    text-align: center;
    
}

.produtos-titulo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #CCB031;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.produtos-texto {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 16px;
}

.produto-item {
    display: grid;
    gap: 8px;
    text-align: center;
}

.produto-item--imagem {
    width: 100%; 
}


.produto-item--descricao {
    font-size: 1.2rem;
}

.produto-item--preco {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.produto-item--butao {
    padding: 1rem;
    margin: 0 auto;
    width: 12rem;
    margin-bottom: 32px;
    border: none;
    border-radius: 5px;
    color: rgb(88, 86, 86);
    
}

.produto-item--butao:hover {
    color: white;
    background: rgb(1, 202, 18);
    cursor: pointer;
}

@media screen and (min-width: 655px) {

    .produtos-texto {
        
        margin-bottom: 64px;
    }

    .produtos-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
    .produto-item {
        width: 250px;
    }

    .produto-item--imagem {
        border-radius: 10px;
    }

    
}