.servicos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
    
}

.servicos-titulo {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 16px;
    color: #CCB031;
    display: block;
}

.servicos li {
	display: inline-block;
	text-align: center;
    justify-content: center;

	width: 80%;	
	margin: 16px auto;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #fff;
	border-radius: 10px;

}

.servicos h2 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.servico-descricao {
    font-size: 1rem;
    margin-bottom: 10px;
}

.servicos span {
    font-size: 0.8rem;
}

.servico-preco {
    font-size: 1.2rem;
    font-weight: 600;
}